<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RouteToAuth" stopProcessing="true">
          <match url=".*api/auth/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/api/auth/{R:1}" />
        </rule>
        <rule name="RouteToProduct" stopProcessing="true">
          <match url=".*api/product/(.*)" />
          <action type="Rewrite" url="http://localhost:3001/api/product/{R:1}" />
        </rule>
        <rule name="RouteToPurchase" stopProcessing="true">
          <match url=".*api/purchase/(.*)" />
          <action type="Rewrite" url="http://localhost:3002/api/purchase/{R:1}" />
        </rule>
        <rule name="VueRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/myapp/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
